{{define "header"}}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
        <!--
        <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
        -->
        <script src="/public/chartjs-plugin-colorschemes.js"></script>

        <script src="https://unpkg.com/vue@next"></script>

        <!--
        <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/github.min.css">
        -->

        <title>Mora</title>

        <style type="text/css">
            body {
                font-family: system-ui;
            }
            code {
                font-family: "consolas", monospace;
            }
            .main.menu {
                margin-bottom: 10px;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <header style="margin-bottom: 10px" class="ui container">
            <div class="ui inverted borderless main menu">
                <div class="ui container">
                    <a class="left item" href="/">Top</a>
                    <a class="right floated item" href="/scms">Login/Logout</a>
                </div>
            </div>
        </header>
        {{end}}

