{{template "header"}}
<script src="/public/login.js" type="module"></script>
<main>
    <div class="ui container" id="app">
        <div class="ui list">
            <div class="item" v-for="scm in scms">
                <div class="content">
                    <div class="header"> <a :href="scm.url">[[scm.name]]</a></div>
                    <div class="ui buttons" v-if="scm.logined">
                        <div class="ui disabled button">login</div>
                        <a class="ui button" :href="'/logout/'+scm.name">Logout</a>
                    </div>
                    <div class="ui buttons" v-else>
                        <a class="ui button" :href="'/login/'+scm.name">Login</a>
                        <div class="ui disabled button">Logout</div>
                    </div>
                    <div class="description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "footer"}}
